In [1]:
# Reworking the raw data and training a NN on that, in case I have thrown out too many features.
# Import our dependencies

# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import tensorflow as tf

In [2]:
#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")
application_df.head(5)

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'])
application_df.head(5)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:

# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
application_df['STATUS'].value_counts()

1    34294
0        5
Name: STATUS, dtype: int64

In [6]:
application_df['SPECIAL_CONSIDERATIONS'].value_counts()

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [7]:
# since there isn't much variation in the STATUS and SPECIAL_CONSIDERATIONS
# columns, they aren't important for our purposes
application_df = application_df.drop(columns=['STATUS', 'SPECIAL_CONSIDERATIONS'])
application_df.head(2)

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1

In [8]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [9]:
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [10]:
# Determine which values to replace if counts are less than or equal to 5.
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for name in names_to_replace:
  application_df['NAME'] = application_df['NAME'].replace(name, 'Other')
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [11]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [13]:
# Determine which values to replace if counts are less than 1000
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:

# Generate our categorical variable lists
categvar = list(application_df.dtypes[application_df.dtypes == 'object'].index)
categvar

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [15]:

# perform one-hot encoding on the data
app_df_clean = pd.get_dummies(application_df)
app_df_clean.head()

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0

In [16]:

# Split our preprocessed data into our features and target arrays
x = app_df_clean.drop(columns=['IS_SUCCESSFUL']).values
y = app_df_clean['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [17]:

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [18]:
# Define the model - deep neural net
number_input_features = len(x_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               40400

 dense_1 (Dense)             (None, 30)                3030

 dense_2 (Dense)             (None, 10)                310

 dense_3 (Dense)             (None, 1)                 11

=================================================================
Total params: 43,751
Trainable params: 43,751
Non-trainable params: 0
_________________________________________________________________

In [19]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [20]:
# Train the model
fit_model = nn.fit(x_train_scaled, y_train, epochs=200)

Epoch 1/200
804/804 [==============================] - 2s 1ms/step - loss: 0.4986 - accuracy: 0.7697
Epoch 2/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4427 - accuracy: 0.7942
Epoch 3/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4346 - accuracy: 0.7947
Epoch 4/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4303 - accuracy: 0.7972
Epoch 5/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4280 - accuracy: 0.7962
Epoch 6/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4254 - accuracy: 0.7980
Epoch 7/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4243 - accuracy: 0.7991
Epoch 8/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4225 - accuracy: 0.8007
Epoch 9/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4217 - accuracy: 0.7987
Epoch 10/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4207 - accuracy: 0.7994
Epoch 11/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4203 - accuracy: 0.7991
Epoch 12/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4192 - accuracy: 0.7998
Epoch 13/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4187 - accuracy: 0.7999
Epoch 14/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4180 - accuracy: 0.8002
Epoch 15/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4172 - accuracy: 0.8005
Epoch 16/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4170 - accuracy: 0.8015
Epoch 17/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4161 - accuracy: 0.8003
Epoch 18/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4155 - accuracy: 0.8011
Epoch 19/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4153 - accuracy: 0.8007
Epoch 20/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4143 - accuracy: 0.8024
Epoch 21/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4138 - accuracy: 0.8021
Epoch 22/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4137 - accuracy: 0.8019
Epoch 23/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4135 - accuracy: 0.8021
Epoch 24/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4127 - accuracy: 0.8027
Epoch 25/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4125 - accuracy: 0.8023
Epoch 26/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4121 - accuracy: 0.8035
Epoch 27/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4120 - accuracy: 0.8022
Epoch 28/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4115 - accuracy: 0.8023
Epoch 29/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4114 - accuracy: 0.8023
Epoch 30/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4111 - accuracy: 0.8029
Epoch 31/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4103 - accuracy: 0.8018
Epoch 32/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4101 - accuracy: 0.8038
Epoch 33/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4100 - accuracy: 0.8033
Epoch 34/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4096 - accuracy: 0.8046
Epoch 35/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4097 - accuracy: 0.8032
Epoch 36/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4091 - accuracy: 0.8038
Epoch 37/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4089 - accuracy: 0.8041
Epoch 38/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4085 - accuracy: 0.8031
Epoch 39/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4084 - accuracy: 0.8044
Epoch 40/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4078 - accuracy: 0.8049
Epoch 41/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4076 - accuracy: 0.8048
Epoch 42/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4074 - accuracy: 0.8053
Epoch 43/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4074 - accuracy: 0.8047
Epoch 44/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4073 - accuracy: 0.8047
Epoch 45/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4065 - accuracy: 0.8046
Epoch 46/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4064 - accuracy: 0.8050
Epoch 47/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4061 - accuracy: 0.8046
Epoch 48/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4063 - accuracy: 0.8050
Epoch 49/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4063 - accuracy: 0.8051
Epoch 50/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4062 - accuracy: 0.8048
Epoch 51/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4059 - accuracy: 0.8049
Epoch 52/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4056 - accuracy: 0.8055
Epoch 53/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4056 - accuracy: 0.8053
Epoch 54/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4051 - accuracy: 0.8050
Epoch 55/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4053 - accuracy: 0.8059
Epoch 56/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4048 - accuracy: 0.8064
Epoch 57/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4046 - accuracy: 0.8063
Epoch 58/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4044 - accuracy: 0.8062
Epoch 59/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4046 - accuracy: 0.8064
Epoch 60/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4049 - accuracy: 0.8065
Epoch 61/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4045 - accuracy: 0.8055
Epoch 62/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4040 - accuracy: 0.8054
Epoch 63/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4038 - accuracy: 0.8066
Epoch 64/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8071
Epoch 65/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4034 - accuracy: 0.8064
Epoch 66/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8068
Epoch 67/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4037 - accuracy: 0.8073
Epoch 68/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4039 - accuracy: 0.8071
Epoch 69/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4040 - accuracy: 0.8066
Epoch 70/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4039 - accuracy: 0.8059
Epoch 71/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4030 - accuracy: 0.8075
Epoch 72/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4031 - accuracy: 0.8066
Epoch 73/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4030 - accuracy: 0.8068
Epoch 74/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8069
Epoch 75/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8073
Epoch 76/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4027 - accuracy: 0.8068
Epoch 77/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8071
Epoch 78/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4024 - accuracy: 0.8073
Epoch 79/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8068
Epoch 80/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4024 - accuracy: 0.8073
Epoch 81/200

804/804 [==============================] - 1s 1ms/step - loss: 0.4026 - accuracy: 0.8070
Epoch 82/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4026 - accuracy: 0.8071
Epoch 83/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4022 - accuracy: 0.8075
Epoch 84/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8078
Epoch 85/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4023 - accuracy: 0.8074
Epoch 86/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4023 - accuracy: 0.8079
Epoch 87/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4025 - accuracy: 0.8070
Epoch 88/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4023 - accuracy: 0.8077
Epoch 89/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4023 - accuracy: 0.8078
Epoch 90/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4026 - accuracy: 0.8075
Epoch 91/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4020 - accuracy: 0.8087
Epoch 92/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4018 - accuracy: 0.8074
Epoch 93/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8079
Epoch 94/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8085
Epoch 95/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4020 - accuracy: 0.8081
Epoch 96/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4020 - accuracy: 0.8077
Epoch 97/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4017 - accuracy: 0.8076
Epoch 98/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8078
Epoch 99/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8082
Epoch 100/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4018 - accuracy: 0.8076
Epoch 101/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8082
Epoch 102/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8072
Epoch 103/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8076
Epoch 104/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8080
Epoch 105/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4015 - accuracy: 0.8081
Epoch 106/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8073
Epoch 107/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4021 - accuracy: 0.8079
Epoch 108/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4013 - accuracy: 0.8081
Epoch 109/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4014 - accuracy: 0.8081
Epoch 110/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8077
Epoch 111/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4018 - accuracy: 0.8080
Epoch 112/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8080
Epoch 113/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4020 - accuracy: 0.8075
Epoch 114/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8085
Epoch 115/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8089
Epoch 116/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8082
Epoch 117/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8081
Epoch 118/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8078
Epoch 119/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4014 - accuracy: 0.8087
Epoch 120/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4013 - accuracy: 0.8084
Epoch 121/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8087
Epoch 122/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8080
Epoch 123/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8078
Epoch 124/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8081
Epoch 125/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8079
Epoch 126/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8091
Epoch 127/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4014 - accuracy: 0.8088
Epoch 128/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8088
Epoch 129/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8084
Epoch 130/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8088
Epoch 131/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4010 - accuracy: 0.8088
Epoch 132/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4010 - accuracy: 0.8087
Epoch 133/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8084
Epoch 134/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8087
Epoch 135/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4010 - accuracy: 0.8087
Epoch 136/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8087
Epoch 137/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4013 - accuracy: 0.8080
Epoch 138/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8080
Epoch 139/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4008 - accuracy: 0.8081
Epoch 140/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4011 - accuracy: 0.8091
Epoch 141/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8084
Epoch 142/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8090
Epoch 143/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8073
Epoch 144/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4007 - accuracy: 0.8089
Epoch 145/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4010 - accuracy: 0.8093
Epoch 146/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4014 - accuracy: 0.8087
Epoch 147/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4021 - accuracy: 0.8079
Epoch 148/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8091
Epoch 149/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8086
Epoch 150/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4006 - accuracy: 0.8090
Epoch 151/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8088
Epoch 152/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4024 - accuracy: 0.8084
Epoch 153/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4012 - accuracy: 0.8087
Epoch 154/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4008 - accuracy: 0.8093
Epoch 155/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4014 - accuracy: 0.8090
Epoch 156/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8095
Epoch 157/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4017 - accuracy: 0.8089
Epoch 158/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8094
Epoch 159/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4018 - accuracy: 0.8084
Epoch 160/200

804/804 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8086
Epoch 161/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4014 - accuracy: 0.8086
Epoch 162/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8088
Epoch 163/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4011 - accuracy: 0.8085
Epoch 164/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8092
Epoch 165/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8090
Epoch 166/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8092
Epoch 167/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4017 - accuracy: 0.8089
Epoch 168/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4013 - accuracy: 0.8091
Epoch 169/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4014 - accuracy: 0.8092
Epoch 170/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4010 - accuracy: 0.8095
Epoch 171/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8082
Epoch 172/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8087
Epoch 173/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4008 - accuracy: 0.8090
Epoch 174/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8085
Epoch 175/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4007 - accuracy: 0.8090
Epoch 176/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4011 - accuracy: 0.8089
Epoch 177/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4008 - accuracy: 0.8091
Epoch 178/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4007 - accuracy: 0.8089
Epoch 179/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8090
Epoch 180/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4004 - accuracy: 0.8094
Epoch 181/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4001 - accuracy: 0.8095
Epoch 182/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8096
Epoch 183/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4013 - accuracy: 0.8090
Epoch 184/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4013 - accuracy: 0.8089
Epoch 185/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8092
Epoch 186/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4008 - accuracy: 0.8089
Epoch 187/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4008 - accuracy: 0.8093
Epoch 188/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4010 - accuracy: 0.8097
Epoch 189/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4013 - accuracy: 0.8089
Epoch 190/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8089
Epoch 191/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8084
Epoch 192/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8098
Epoch 193/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4016 - accuracy: 0.8089
Epoch 194/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4013 - accuracy: 0.8097
Epoch 195/200
804/804 [==============================] - 1s 2ms/step - loss: 0.4013 - accuracy: 0.8098
Epoch 196/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8089
Epoch 197/200
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8086
Epoch 198/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8093
Epoch 199/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8096
Epoch 200/200
804/804 [==============================] - 1s 1ms/step - loss: 0.4012 - accuracy: 0.8088

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4589 - accuracy: 0.7930 - 244ms/epoch - 909us/step
Loss: 0.4589426815509796, Accuracy: 0.7930029034614563

In [25]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

In [26]:
# Create a random forest classifier.
rfc = RandomForestClassifier(n_estimators=128, random_state=78)

# Fitting the model
rfc = rfc.fit(x_train_scaled, y_train)

# Evaluate the model
y_predicted = rfc.predict(x_test_scaled)
print(f'Random Forest accuracy: {accuracy_score(y_test, y_predicted)*100:.2f}')

Random Forest accuracy: 77.66